<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = 0">
        <meta name="description" content="Login to the Land of Dubs | The best University solution">
        <meta name="keywords" content="university, solution, maths, course, dubs, answer">
        <meta name="theme-color" content="#DB143B">

        <title>The Land of Dubs | Login</title>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto+Slab:wght@300;400;700&display=swap" rel="stylesheet">

        <!-- Icons from FontAwesome -->
        <script src="https://kit.fontawesome.com/16160946ec.js" crossorigin="anonymous"></script>

        <!-- Stylesheet -->
        <link rel="stylesheet" href="sass/main.css">
    </head>

    <body>
        <section class="forgot-password-container">
            <h1>Forgot your password,&nbsp;eh?</h1>
            <h2>Don't worry, It happens to the best of us.</h2>
            <p>Type your email, and we'll send you a recovery link, ASAP!</p>

            <form action="" method="post">
                <i class="fas fa-lock"></i>
                <input type="email" name="email" placeholder="Email Address" autocomplete="email" required>
                <button type="submit" name="button">Send mail</button>
                <a href="../login">Back to Login</a>
            </form>
        </section>
    </body>
</html>
