section.login-container {
    padding: 0;
    height: 100vh;
    max-height: 100vh;

    a:hover {
        text-decoration: underline;
    }

    div.left-column {
        flex: 30%;
        padding-top: 2%;
        background: $bluish;

        img[alt = "Logo"] {
            display: block;
            width: 50%;
            margin: 0 auto;
            text-align: center;
        }

        img[alt = "Illustration"] {
            width: 100%;
            margin-top: 30%;
        }
    }

    div.right-column {
        flex: 70%;
        padding: 5% 10% 0;

        a[href = "../home"] {
            float: right;
        }

        h2 {
            margin-top: 10%;
            color: $bluish;
            font-family: $lato;
        }

        p {
            color: gray;
        }

        form {
            margin-top: 5%;

            label {
                cursor: pointer;
            }

            input,
            div.password-container {
                display: block;
                width: 80%;
                height: 3em;
                margin: 1% 0 5%;
                padding: 2.5%;
                transition: 0.3s ease-in-out;
            }

            input:hover,
            div.password-container {
                border: 1px solid $bluish;
            }

            div.password-container {
                padding: 0;
                padding-right: 2.5%;
                input {
                    display: inline-block;
                    width: 95%;
                    height: 100%;
                    margin: 0;
                    border: 0;
                }

                input:hover {
                    border: 0;
                    outline: none;
                }

                i {
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                }
            }

            button {
                width: 40%;
            }

            p {
                margin: 2% 0;
                color: initial;

                a {
                    color: $reddish;
                }
            }
        }
    }
}


@media (max-width: 850px) {
    section.login-container {
        background-color: #181f22;
        background-image: $login-signup-mobile-bg;
        background-size: cover;
        div.left-column {
            display: none;
        }

        div.right-column {
            h2 {
                margin-top: 20%;
                color: #fff;
            }
            form {
                button {
                    width: 60%;
                    margin-bottom: 10%;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    section.login-container {
        div.right-column {
            form {
                input,
                div.password-container {
                    width: 100%;
                    background: #fff;
                }

                div.password-container {
                    input {
                        width: 90%;
                    }
                }

                button {
                    width: 80%;
                }
            }
        }
    }
}
