<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1, user-scalable = 0">
        <meta name="description" content="A brilliant way to pass through University">
        <meta name="keywords" content="university, solution, maths, course, dubs, answer">
        <meta name="theme-color" content="">

        <title>The Land of Dubs | Announcements</title>

        <!-- Stylesheet -->
        <link rel="stylesheet" href="/sass/main.css">
    </head>
    <body>
        <header>
            <nav>
                <img src="" alt="Logo">

                <ul class="dekstop-nav">
                    <li><a href="../home/">Home</a></li>
                    <li><a href="#">Announcements</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>
