a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    height: 3em;
    border: 1px solid $reddish;
    border-radius: 2em;
    background: transparent;
    font-size: 0.9em;
    letter-spacing: 0.2em;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    color: #fff;
    background: $reddish;
}

.flex {
    display: flex;
    flex-flow: wrap;
}

section {
    padding: 5%;

    h1 {
        font-family: $lato;
    }
}


@media (max-width: 800px) {
    * {
        float: unset;
    }
    
    .flex {
        display: block;
    }
}
